@import "third-party/reset";

.container {
  max-width: 1990px;
  padding: 0 16px;
}
.display-albums {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 32px;

  &__heading {
    font-size: 24px;
    grid-column: span 12;
  }

  &__album {
    grid-column: span 3;
    margin-bottom: 16px;
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
  }

  p {
    margin-bottom: 8px;
    padding: 0 2px;
  }

  p:first-of-type {
    margin-top: 8px;
  }
}
