@import "third-party/reset";

// Colors
$dark: #1f2424;
$highlight: #a3abbd;
$white: #fafaf0;

// Type
$font-stack: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin fontStyle($size: 18px, $weight: 400, $color: $dark, $font: $font-stack) {
  font-family: $font;
  font-weight: $weight;
  color: $color;
  font-size: $size;
}

.container {
  max-width: 1990px;
  padding: 0 16px;
  background-color: $white;
}

.display-albums {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 32px;

  &__heading {
    @include fontStyle(60px, 700);

    //font-size: 40px;
    grid-column: span 12;
  }

  &__album {
    grid-column: span 3;
    margin-bottom: 16px;
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
  }
}
